---
import "../styles/global.css";

import ScrollingContainer from "../components/ScrollingContainer.astro";

import { cardContent } from "../data/card-content.js";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Scrolling Container</title>
  </head>
  <body>
    <main>
      <section>
        <header>
          <article class="card">
            <div class="header-container">
              <h2>Financial Projections</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </article>
        </header>

        <ScrollingContainer cardContent={cardContent} />
      </section>
    </main>
  </body>
</html>

<style>
  :root {
    --content-width: 100%;
  }

  main {
    padding-block: 4rem; 
  }
  body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
  }

  .header-container {
    display: grid; 
    justify-content: center; 
    text-align: left;
  }
  p {
    max-width: 65ch;
  }
</style>
